body{
margin:0;
font-family:Arial;
background:#0e2c4d;
color:white;
}

header{
background:white;
color:black;
padding:15px 40px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#333;
font-weight:bold;
}

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(#0e2c4d,#081a30);
}

.hero h1{
font-size:60px;
}

.main-btn{
background:#f2b233;
padding:15px 30px;
border-radius:8px;
text-decoration:none;
color:black;
font-weight:bold;
display:inline-block;
margin-top:20px;
}

.about{
padding:80px 20px;
text-align:center;
max-width:900px;
margin:auto;
}

.services{
background:white;
color:black;
padding:80px 20px;
text-align:center;
}

.service-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
margin-top:40px;
}

.card{
background:#f5f5f5;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.card a{
display:inline-block;
margin-top:15px;
font-weight:bold;
color:#0e2c4d;
}

.contact{
background:#0e2c4d;
padding:80px 20px;
text-align:center;
}

form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,select,textarea{
padding:12px;
border-radius:5px;
border:none;
}

button{
padding:14px;
background:#f2b233;
border:none;
font-weight:bold;
cursor:pointer;
}

footer{
background:#081a30;
text-align:center;
padding:20px;
}